.sidebar{
    width: 14em;
    background-color: antiquewhite;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
   
}
.test{
    transition: width 2s;
}
.openClose{
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%,-0%);
    font-size: 20px;
    cursor: pointer;
}
.sideBarClose{
   
    width: 5em;
    transition: width 2s;
}
.brand{
    max-height: 4em;
    box-sizing: border-box;   
    margin-block: 0.25em;
    display: flex; 
    padding: 0.5em 0.25em;
    align-items: center;
    justify-content: space-around;
}
.sideBarClose .brand{
    width: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}
.brandLogo{
    width: 2.75em;
    height: 2.75em;
    mix-blend-mode: multiply;
}
.brandName{
    font-size: 1.25em;
    text-align: center;
    text-transform: capitalize;
}
.sideBarClose .brandName{
    display: none;
}
.navItems{
    height: 40em;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 0.75em;
    transition: width 2s;
}
.sideBarClose .navItems{
overflow: hidden;
width: 100%;
}
.navItem{
    display: flex;
    font-size: 1.2em;
    font-weight: 300;
    padding: 0.5em 0.5em;
    gap: 0.75em;
    cursor: pointer;
    transition: width 2s;
   
}
.icon{
    font-size: 1.25em;
}
.sideBarClose .navItem p{
    display: none;
}
.sideBarClose .navItem {
    align-items: center;
    justify-content: center;
}
.navItem:hover{
    background-color: azure;
}
.active{
    background: #000;
    color: wheat;
}
.bottomItems{
    height: 5em;
    width: 100%;
    margin-top: auto;

}
.logoutbtn{
    display: block;
    width: 60%;
    margin: auto;
    height: 40%;
    padding: 0.5em ;
    background-color: #000;
    color: white;
    outline: none;
    border: none;
    border-radius: 0.25em;
}
.logout{
    margin: 10px;
    background-color: grey;
    border-radius: 5px;
    font-weight: 500;
}
/* css for topbar */
.topbar{
    background-color: rgb(188, 179, 179);
    height: 4%;
}